language: python
env:
  - TOXENV=py33
  - TOXENV=py34
  - TOXENV=py35
  - TOXENV=py36
  - TOXENV=pep8
  - TOXENV=docs
install:
  - pip install numpy
  - pip install matplotlib
  - pip install opencv-python
